//Lighter Tints (add white)
$primary-color: #d4a373;
$primary-color-900: #e0b88f;
$primary-color-800: #edcba8;
$primary-color-700: #f9dfc2;
//Darker Shades (add black)

$primary-color-600: #b8895f;
$primary-color-500: #996f4a;
$primary-color-400: #7a573a;
//Muted Variants (add gray)

$primary-color-300: #c2a285;
$primary-color-200: #a88c73;
$primary-color-100: #8f7862;

//Analogous Colors (close on the color wheel)

$neutral-color-100: #d4c373;
$neutral-color-200: #d48473;
$neutral-color-200: #73d49d;
