.wrapper {
  width: 100%;
  .head {
    height: 12vh;
    border-bottom: 1px solid #b3b3b3;
  }

  .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
    .link {
      font-weight: 500;
      padding: 8px;
      color: #201f1f;
      font-size: 16px;
      &.active {
        border-radius: 8px;
        height: fit-content;
        background-color: #eaeaea80;
      }
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 500;
      padding: 8px;
      color: #201f1f;
      font-size: 16px;
      gap: 4px;
      cursor: pointer;
    }
  }
}
