@import "index.scss";
.wrapper {
  height: 120px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  color: $primary-color-400;
  .label {
    font-size: 16px;
    font-weight: 600;
  }
  .stat {
    font-size: 28px;
    font-weight: 700;
  }
}
